[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
shellcheck-py = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
twine = "*"
yamllint = "*"

[packages]

[requires]
python_version = "3.11"

[scripts]
build = "./scripts/build.sh"
docs = "./scripts/build-docs.sh"
"docs:serve" = "python -m http.server --directory docs/build/html/"
lint = "./scripts/lint.sh"
test = "./scripts/test.sh"
